.u-section-1 .u-sheet-1 {
  min-height: 1390px;
}

.u-section-1 .u-image-1 {
  width: 445px;
  height: 207px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 317px;
  height: 531px;
  margin: -112px 159px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 321px;
  margin: -234px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 71px;
  margin: 27px -38px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 400px;
  height: 294px;
  margin: -54px auto 0 67px;
}

.u-section-1 .u-image-6 {
  width: 362px;
  height: 301px;
  margin: -240px 290px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    height: 532px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -235px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1373px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 158px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -63px;
    margin-right: 23px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 42px;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 250px;
    margin-top: -25px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 283px;
    margin-top: -196px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1034px;
}

.u-section-2 .u-form-1 {
  width: 570px;
  margin-bottom: 60px;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}